In [1]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading https://files.pythonhosted.org/packages/a5/bf/870a127de76b5b01c26eb8056f42a315eb9cb625b87cdee896c71bf73ca1/psycopg2_binary-2.8.2-cp37-cp37m-manylinux1_x86_64.whl (2.9MB)
     |████████████████████████████████| 2.9MB 2.1MB/s eta 0:00:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.8.2

In [2]:
import psycopg2 as pg
import seaborn as sns
import pandas as pd
from sqlalchemy import create_engine

In [3]:
con = create_engine("postgresql://postgres:postgres@postgres")

In [4]:
df = sns.load_dataset("iris")

In [5]:
df.to_sql(name="iris",
         con=con,
         index=False)

In [6]:
query = "SELECT * FROM iris"

In [7]:
result = pd.read_sql_query(query, con)

In [8]:
result.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa